/* Login Form */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: var(--white);
  color: var(--black);
  font-weight: 400;
  font-style: normal;
}

.login-form {
    padding: 5rem 0;
    max-width: 50rem;
    margin: 5rem auto;
  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form form h1 {
    margin-bottom: 1rem;
  }
  .login-form form p {
    margin-bottom: 2rem;
  }
  
  .login-form form label {
    margin-bottom: 1rem;
  }
  
  .login-form form input {
    border: 1px solid #ccc;
    outline: none;
    padding: 1.5rem 0;
    text-indent: 1rem;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
  }
  
  .login-form form input::placeholder {
    font-size: 1.6rem;
    color: #222;
  }
  
  .login-form form .buttons {
    margin-top: 1rem;
  }
  
  .login-form form button {
    outline: none;
    border: none;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    margin-right: 1.5rem;
    background-color: var(--green);
    color: white;
    cursor: pointer;
  }
  
  .login-form form p a {
    color: dodgerblue;
  }
  